<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon Website</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="container">
         <a href="/templates/damso.html">
            <img src="/img/artist.jpg" 
                 alt="Damso" 
                 class="artist-img">
        </a>
        <div class="container-content">
        </div>
    </div>
</body>
</html>
